.col-left {
  width: 70%;
}

.col-right {
  flex: 0 0 120px;
  text-align: right;
  float: right;
}


.action-button {
  margin-left: 10px;
  padding: 6px;
}

.action-post {
  margin: 10px 5px;
  width: 8%;
}

input {
  margin: 10px 5px;
  width: 90%;
  padding: 2px;
}

.comment {
  margin-left: 50px;
}

pre {
  font-family: Arial, Helvetica, sans-serif;;
}
